{% extends 'layouts/main.html' %}
{% block title %}HomePage{% endblock title %}
{% block header %}
{% include 'layouts/components/menu.html' %}
{% endblock header %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 my-5">
            <h5>Category</h5>
            <div class="list-group">
                {% for category in categories %}
                <a href="#" class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-9 col-xl-9">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}"
                            style="max-height: 250px;">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}}</p>
                            <a class="btn btn-outline-primary">View Product</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    function addCart(productId) {
        console.log(productId);
    }
</script>
{% endblock script %}