{% extends 'layouts/pages.html' %}
{% block title %}Category{% endblock title %}
{% block title_page %}Category{% endblock title_page %}
{% block content %}
<div class="card h-100 shadow-sm">
  <div class="card-header p-3">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="card-header-action">
          <button class="btn btn-primary btn-sm" onclick="open_modal()">New Category</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-3 p-lg-4">
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead class="table-primary">
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>{% if category.is_active %}<span>Active</span>{% else %}<span>Inactive</span>{% endif %}</td>
            <td>
              <button class="btn btn-success" onclick="edit('{% url 'category:update' category.id %}')"><i
                  class="fa-regular fa-pen-to-square"></i></button>
              <button class="btn btn-danger btn-sm" onclick="deleteData('{% url 'category:delete' category.id%}')"><i
                  class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" id="form">
        {% csrf_token %}
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" onclick="save(event)" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>

  let route = ''

  function conf_modal(title) {
    const btnModal = document.querySelector('#btnModal')
    const modal = new bootstrap.Modal('#modalForm')
    const modalTitle = document.querySelector('.modal-title').textContent = title
    modal.show()
  }

  async function open_modal() {
    conf_modal('Form Register')
    route = '{% url "category:create" %}'
    try {
      const response = await axios.get(route)
      document.querySelector('#modalForm .modal-body').innerHTML = response.data
    } catch (error) {
      console.log(error);
    }
  }

  async function save(e) {
    e.preventDefault()
    const form = document.querySelector('#form')
    const formData = new FormData(form)
    try {
      const res = await axios.post(route, formData)
      if (res.status === 200) {
        window.location.reload()
      }
    } catch (error) {
      console.log(error);
    }
  }

  async function edit(url) {
    conf_modal('Edit Form')
    route = url
    try {
      const response = await axios.get(route)
      document.querySelector('#modalForm .modal-body').innerHTML = response.data
    } catch (error) {
      console.log(error);
    }
  }

  async function deleteData(url) {
    console.log(url);
    const csrftoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
    const formData = new FormData()
    formData.append('csrfmiddlewaretoken', csrftoken)
    try {
      const response = await axios.delete(url, {
        headers: {
          'X-CSRFToken': csrftoken
        }
      })
      if (response.status === 200)
        window.location.reload()
    } catch (error) {
      console.log(error);
    }
  }


</script>
{% endblock script %}