<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cart
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'cart:index' %}">View Products <span class="badge text-bg-primary"
                  id="totalProducts"></span></a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dash:index' %}">Dashboard</a>
        </li>
        {% endif %}
      </ul>
      <div class="d-flex gap-2">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'login' %}">Sign in</a>
        <a class="btn btn-info" href="{% url 'register' %}">Sign up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const products = JSON.parse(localStorage.getItem('products')) || []
    const totalProducts = document.querySelector('#totalProducts')
    if (products.length) {
      totalProducts.innerHTML = products.length
    } else {
      totalProducts.innerHTML = '0'
    }
  })
</script>
{% endblock script %}