{% extends 'layouts/pages.html' %}
{% block title %}Order{% endblock title %}
{% block title_page %}Orders{% endblock title_page %}
{% block content %}
<div class="card h-100 shadow-sm">
  <div class="card-body p-3 p-lg-4">
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead class="table-primary">
          <th>Id</th>
          <th>Order Token</th>
          <th>Order Date</th>
          <th>Subtotal</th>
          <th>Iva</th>
          <th>Total</th>
          <th>Status</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% if orders %}
            {% for order in orders %}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.order_token}}</td>
              <td>{{order.date}}</td>
              <td>{{order.subtotal}}</td>
              <td>{{order.iva}}</td>
              <td>{{order.total}}</td>
              <td>{% if order.status %}<span class="badge text-bg-success">Pagada</span> {% else %}<span class="badge text-bg-warning">Pendiente</span>{% endif %}</td>
              <td class="text-center">
                <a class="btn btn-info btn-sm" href="{% url 'order:pdf' order.id %}"><i class="fa-solid fa-eye"></i></a>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
